form{
    border: 1px solid black;
    border-radius: 8;
    width: max-content;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.field{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    margin: 1rem;
    
}

body{
    align-items: center;
}

button{
    font-size:1.15rem ;
}

h1{
    font-size: 3rem;
}
